.BoardContainer {
  outline: 2px solid wheat;
  width: 100%;
  height: 80px;
  background-image: url(https://img.freepik.com/free-photo/wooden-wall-scratched-material-background-texture-concept_53876-30228.jpg?w=2000);
  background-size: cover;
  background-position: center;
}
  
.leftBoardContent {
  outline: 2px solid wheat;
  float: left;
  width: 30%;
  color:white;
}
.playerInfo{
  font-size: 19px;
}
  
.rightBoardContent {
  outline: 2px solid wheat;
  float: right;
  width: 70%;
  display: flex;
}

.HandContainer {
  outline: 2px solid wheat;
  width: 100%;
  overflow: hidden;
}
  
.leftHandContent {
  outline: 2px solid wheat;
  float: left;
  width: 30%;
}
  
.rightHandContent {
  outline: 2px solid wheat;
  float: right;
  width: 70%;
}

.playerName{
  font-size: 40px;
  position: absolute;
  margin-left: 1%;
}
.enemyName{
  font-size: 40px;
  position: absolute;
  margin-left: 1%;

}
.separator {
  border: 1px solid white;
}
.wonRounds {
  display: flex;
}