.BoardContainer {
  outline: 2px solid wheat;
    width: 100%;
    overflow: hidden;
  }
  
  .leftBoardContent {
    outline: 2px solid wheat;
    float: left;
    width: 30%;
  }
  
  .rightBoardContent {
    outline: 2px solid wheat;
    float: right;
    width: 70%;
  }

  .HandContainer {
    outline: 2px solid wheat;
    width: 100%;
    overflow: hidden;
  }
  
  .leftHandContent {
    outline: 2px solid wheat;
    float: left;
    width: 30%;
  }
  
  .rightHandContent {
    outline: 2px solid wheat;
    float: right;
    width: 70%;
  }
