.card {
    display: flex;
    width: 89px;
    padding-top:9px;
    height: 65px;
    color:black;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url(https://www.pngkit.com/png/full/196-1963608_jpg-freeuse-library-uno-cards-template-png-for.png);
    background-size: cover;

}

.card:hover {
    transform: translateY(0.75rem);
}
